//FUENTES

$fuentePrincipal : 'Poppins', sans-serif;

//MEDIA QUERIES

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//COLORES

$blanco: #fff;
$blancoDos: #f2f2f2;
$negro: #000;
$verde: #41a451;
$facebook: #3b5998;
$twitter: #00acee;
$youtube: #c4302b;
$transparente: rgba(0, 0, 0, 0);
$negroTransparente: rgba(0, 0, 0, 0.700);